/* a minimalist set of CSS resets */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

/* default to border-box */
* {
  font-family: 'Epilogue', sans-serif !important;
  font-style: normal;
  
}

p, a, ul, li, figcaption{
  font-family: 'Inter', sans-serif !important;
  font-weight: 300 !important;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

#menu {
  display: none;
}

.navbar2 {
transition-duration: 1s;
}

.cursor {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  border: 1px solid #3730a3;
  transition: all 200ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
}

.cursor2 {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #6366f1;
  opacity: .4;
  position: fixed;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: width .3s, height .3s, opacity .3s;
}

.hover {
  background-color: #eef2ff;
  opacity: 0.4;
}

.cursorinnerhover {
  width: 50px;
  height: 50px;
  opacity: .9;
}

